.cover__link {
  display: block;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  z-index: 1;
  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.cover__link:before{
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.6s;
  z-index: -1;
}

.cover__link:hover::before{
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
  .cover__link{
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .cover__link{
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .cover__link{
    max-width: 320px;
    min-height: 200px;
  }
}


