.place__paragraph {
  margin: 0;
  padding: 0;
  padding-top: 26px;
}

.place__paragraph:first-child {
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width:1023px) {
  .place__paragraph{
    padding-top: 25px;
  }
}
