.footer__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
}


@media screen and (min-width: 320px) and (max-width:767px) {
  .footer__nav-list{
    margin: 0;
    width: 100%;
    flex-direction: column;
    gap: 32px;
  }
 }
